body {
    width: 99vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    font-family: "Orbitron";
}

#calc-box {
    width: 20vw;
    min-width: 350px;
    height: 60vh;
    min-height: 500px;
    background-color: #DDDDDD;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#input-box {
    margin-top: 10%;
    padding: 0 10px 10px 0;
    width: 75%;
    height: 8%;
    background-color: #889988;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: "Orbitron";
    font-size: 20px;
    border-style: inset;
}

#blinker {
    width: 4%;
    height: 2px;
    animation: blink-ani;
    animation-duration: 2s;
    animation-timing-function: steps(2,jump-start);
    animation-iteration-count: infinite;
}

#key-box {
    margin-top: 4%;
    width: 80%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#plus {flex-grow: 1;}

.operator {
    height: 20%;
    width: auto;
    min-width: 23%;
    padding-bottom: 10px;
}

.operator, .num {
    background-color: #AAAAAA;
    margin: 1%;
    border-radius: .5rem;
    font-size: 30pt;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#numbers{
    margin: 0;
    height: 75%;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.num {
    align-items: center;
    width: 31%;
    height: 23.5%;
    font-size: 18pt;
}

#side-ops {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 24%;
    height: 75%;
}

#side-ops .operator {
    flex-grow: 2;
}

#back {
    font-size: 16pt;
}

@keyframes blink-ani {
    from { background-color: black;}
    to { background-color: none;}
}


.pressed {
    border-color: #AAAAAA;
    background-color: #889988;
    color: #DDDDDD;
}